body {
	text-align: center;
	background-color: lightgray;
	font-family: sans-serif;
}
#container {
	margin: auto;
}
canvas {
	background-color: white;
}
h1 {
	margin: 5px;
}
h2 {
	margin: 5px;
	font-size: 14px;
	font-family: serif;
}
#debug {
	text-align:left;
	font-family:monospace;
}